.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex: 1;

  text-shadow: 0 0 2px black;
  max-width: 280px;
  margin: auto;
  flex-direction: column;
}

.about p {
  line-height: 1.5;
}
