.about {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex: 1;

  text-shadow: 0 0 2px black;
  max-width: 280px;
  margin: auto;
  flex-direction: column;
}

.about p {
  line-height: 1.5;
}

.about a {
  color: rgb(210, 234, 255);
  transition: 0.4s all ease;
}

.about a:hover {
  color: rgb(89, 178, 255);
}
