.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
}

.home > span {
  text-shadow: 0 0 black;

  font-weight: 600;
}

.home .wow {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 10px;
}
